<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Vaibhav Singh - About</title>
    <link rel="stylesheet" href="stylesheets/about.css">
</head>
<body>
    <div class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/project">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

      <div class="about" >
        <h1>HELLO, MY NAME IS VAIBHAV.</h1>
        <p>I'm an IT student with a B.Tech in Information Technology from JSS Academy of Technical Education.</p>
        <hr />
        </br>
        </br>
        <p class='grey'>I am an competetive programmer and a passionate backend developer</br>I thrive on collaborative problem-solving. My commitment to continuous learning makes me a versatile backend developer ready for impactful contributions in the tech industry</p>
        </br>
        <a class="resume btn btn-primary" href="https://drive.google.com/file/d/1Z9ZIcS9WhHtUE6hXjGtpvm3r7Ne77IZ3/view?usp=sharing" class="btn btn-primary">MY RESUME</a>
      </div>

      <div class="footer">
        <div class="link_icon">
          <div>
            <a href="http://web.whatsapp.com/send?phone=+919580250414&text=Hello" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/whatsapp.png" alt="whatsapp_icon" />
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/vaibhavs1710/" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/linkedin.png" alt="linkedin_icon" />
            </a>
          </div> 
          <div>
            <a href="https://github.com/vaibhav1710" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/github.png" alt="github_icon" />
            </a>
          </div>
          <div>
            <a href="#" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/facebook.png" alt="facebook_icon" />
            </a>
          </div>
          <div>
            <a href="#" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/instagram-new.png" alt="instagram_icon" />
            </a>
          </div>
          <div>
            <a href="https://mobile.twitter.com/SinghV1710" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/twitter.png" alt="twitter_icon" />
            </a>
          </div>
        </div>
        <div class="copyright">
         
            <p >Copyright © 2023 vaibhavsingh17</p>
          
        </div>
        <div>
          <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
              <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
              <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(254, 179, 36, .7)" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(254, 179, 36,.5)" />
              <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(254, 179, 36, .3)" />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(254, 179,36)" />
            </g>
          </svg>
        </div>
      </div>
    </div>

</body>
</html>