<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Vaibhav Singh - Contact</title>
    <link rel="stylesheet" href="stylesheets/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-ZoeKBD+4NYeWg/8CF1a5EwI6O0JeqY4Mdj1cfXs5l0U=" crossorigin="anonymous" />
</head>
<body>
    <div class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/project">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
 
    <section class="contact">
        <div class="contact-header">
          <h3 id="co-title">Contact Me</h3>
          <h1 id="co-text">Reach out for a new project or to say hello</h1>
        </div>
        
        <div class="contact-content">
          <div class="contact-form">
            <h3 id="form-title">Send me a message</h3>
          <form action="/submit" method="post">
            <fieldset>
              <div class="form-field">
                <input name="name" type="text" id="name" placeholder="Your Name"></input>
              </div>
            <div class="form-field">
                <input name="email" type="email" id="email" placeholder="Your Email"></input>
              </div>
            <div class="form-field">
                <input name="Subject" type="text" id="subject" placeholder="Subject"></input>
              </div>
          <div class="form-field">
                <textarea name="message" type="text" id="message" placeholder="Your Message"></textarea>
              </div>
            </fieldset>
        <input class="btn btn-primary" type="submit" value="send">
          </form>
      </div>
        
          <div class="contact-info">
            <h3>Email Me At </h3>
            <a href="mailto:npeel3497@gmail.com"><p>singhvaibhav1710@gmail.com</p></a>
          </div>
          </div>
      </section>
     

      <div class="footer">
        <div class="link_icon">
          <div>
            <a href="http://web.whatsapp.com/send?phone=+919580250414&text=Hello" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/whatsapp.png" alt="whatsapp_icon" />
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/vaibhavs1710/" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/linkedin.png" alt="linkedin_icon" />
            </a>
          </div> 
          <div>
            <a href="https://github.com/vaibhav1710" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/github.png" alt="github_icon" />
            </a>
          </div>
          <div>
            <a href="#" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/facebook.png" alt="facebook_icon" />
            </a>
          </div>
          <div>
            <a href="#" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/instagram-new.png" alt="instagram_icon" />
            </a>
          </div>
          <div>
            <a href="https://mobile.twitter.com/SinghV1710" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/twitter.png" alt="twitter_icon" />
            </a>
          </div>
        </div>
        <div class="copyright">
         
            <p >Copyright © 2023 vaibhavsingh17</p>
          
        </div>
        <div>
          <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
              <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
              <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(254, 179, 36, .7)" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(254, 179, 36,.5)" />
              <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(254, 179, 36, .3)" />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(254, 179,36)" />
            </g>
          </svg>
        </div>
      </div>
    </div>

</body>
</html>