<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Vaibhav Singh - Project</title>
    <link rel="stylesheet" href="/stylesheets/project.css">
</head>
<body>
    <div class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/project">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
     
    <section id="projects" class="content">
        <h2>My Projects</h2>
        <div class="project">
            <h3>MERN Todo App</h3>
            <p>TThe MERN stack TODO app is a simple yet powerful task management tool that allows you to organize and keep track of your tasks effectively. It offers a user-friendly interface for creating, managing, and prioritizing tasks, making it an ideal choice for personal and professional task management. Check it out!</p>
            <a href="https://github.com/vaibhav1710/Todo-App" class="btn btn-primary" >Github Link</a>
        </div>
        <div class="project">
            <h3>Textutil</h3>
            <p>Textutil is an text analysis tool that is designed to provide efficient text analysis built using React js, while ensuring user security through Firebase authentication. Explore my coding skills in action!</p>
            <a href="https://github.com/vaibhav1710/TextUtil-auth" class="btn btn-primary" >Github Link</a>
        </div>
        <div class="project">
            <h3>Delhi Metro App</h3>
            <p>Delhi Metro App is an application designed to help users navigate the Delhi Metro network efficiently. It offers a range of features for planning metro journeys, calculating distances, and optimizing travel time.. Explore my coding skills in action!</p>
            <a href="https://github.com/vaibhav1710/Delhi-Metro" class="btn btn-primary">Github Link</a>
        </div>
        <div class="project">
            <h3>Password Manager</h3>
            <p>It is built using HTML, CSS and Javascript. User can add, edit or delete there accounts and passwords . Explore my coding skills in action!</p>
            <a href="https://github.com/vaibhav1710/Password-Manager" class="btn btn-primary" >Github Link</a>
        </div>
    </section>


    <div class="footer">
        <div class="link_icon">
          <div>
            <a href="http://web.whatsapp.com/send?phone=+919580250414&text=Hello" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/whatsapp.png" alt="whatsapp_icon" />
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/vaibhavs1710/" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/linkedin.png" alt="linkedin_icon" />
            </a>
          </div> 
          <div>
            <a href="https://github.com/vaibhav1710" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/github.png" alt="github_icon" />
            </a>
          </div>
          <div>
            <a href="#" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/facebook.png" alt="facebook_icon" />
            </a>
          </div>
          <div>
            <a href="#" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/instagram-new.png" alt="instagram_icon" />
            </a>
          </div>
          <div>
            <a href="https://mobile.twitter.com/SinghV1710" class="link">
              <img src="https://img.icons8.com/nolan/35/00C6FF/0072FF/twitter.png" alt="twitter_icon" />
            </a>
          </div>
        </div>
        <div class="copyright">
         
            <p >Copyright © 2023 vaibhavsingh17</p>
          
        </div>
        <div>
          <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
              <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
              <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(254, 179, 36, .7)" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(254, 179, 36,.5)" />
              <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(254, 179, 36, .3)" />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(254, 179,36)" />
            </g>
          </svg>
        </div>
      </div>
    </div>


     
</body>
</html>